<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tjfybj.dtc.zentao.mapper.ScoreByTimeMapper">
    <select id="queryScoreByProAndTime" resultType="com.tfjybj.dtc.commons.model.ScoreByTimeModel">
        SELECT
        userByProject.id,
        userByProject.userName,
        userByProject.projectId,
        userByProject.projectName,
        sum( tzr.result ) AS score
        FROM
        tiz_zentao_result tzr,
        (
        SELECT DISTINCT
        tu.id AS id,
        tu.user_name AS userName,
        zp.id AS projectId,
        zp.`name` AS projectName
        FROM
        zt_project zp,
        zt_action za
        JOIN tiz_zentao_integral_user tziu ON tziu.account = za.actor
        JOIN tik_user tu ON tziu.user_id = tu.id
        WHERE
        zp.id = za.project
        and (zp.id=#{projectId})
        AND za.objectType = 'task'
        ) AS userByProject
        WHERE
        userByProject.id = tzr.user_id
        AND DATE_SUB( CURDATE(), INTERVAL 30 DAY )&lt;= date( tzr.create_time )
        GROUP BY
        userByProject.id
        ORDER BY
        projectId
    </select>

    <select id="queryScoreByTime" resultType="com.tfjybj.dtc.commons.model.ScoreByTimeModel">
        select userByProject.id,userByProject.userName,userByProject.projectId,userByProject.projectName,sum(tzr.result)
        as score
        from tiz_zentao_result tzr,
        (
        select DISTINCT tu.id as id,tu.user_name as userName,zp.id as projectId,zp.`name` as projectName
        from zt_project zp,zt_action za
        join tiz_zentao_integral_user tziu
        on tziu.account = za.actor
        join tik_user tu
        on tziu.user_id = tu.id
        where zp.id = za.project
        AND (zp.id = 35 OR zp.id = 37 OR zp.id = 38 OR zp.id = 47 )
        and za.objectType = 'task'
        ) as userByProject
        where userByProject.id = tzr.user_id
        and DATE_SUB( CURDATE(), INTERVAL 30 DAY )&lt;= date( tzr.create_time )
        group by userByProject.id
        order by projectId
    </select>
</mapper>


