<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tjfybj.dtc.zentao.mapper.ScoreByTimeMapper">
    <select id="queryScoreByProAndTime" resultType="com.tfjybj.dtc.commons.model.ScoreByTimeModel">
        SELECT
        userByProject.id AS id,
        userByProject.userName AS userName,
        userByProject.projectId AS projectId,
        userByProject.projectName AS projectName,
        sum( tzr.result ) AS score
        FROM
        tiz_zentao_result tzr,
        (
        SELECT DISTINCT
        tu.id AS id,
        tu.user_name AS userName,
        zp.id AS projectId,
        zp.`name` AS projectName,
        team.role AS role
        FROM
        zt_project zp,
        (
        SELECT
        zt.account AS account,
        zt.root AS root,
        zt.role AS role
        FROM
        zt_team zt
        JOIN zt_project zp ON zp.id = zt.root
        ) AS team
        JOIN tiz_zentao_integral_user tziu ON tziu.account = team.account
        JOIN tik_user tu ON tziu.user_id = tu.id
        WHERE
        zp.id = team.root
        AND zp.id = #{projectId}
        ) AS userByProject
        WHERE
        userByProject.id = tzr.user_id
        AND DATE_SUB( CURDATE(), INTERVAL #{days} DAY )&lt;= date( tzr.create_time )
        AND userByProject.role NOT LIKE '%测试%'
        AND userByProject.role NOT LIKE '%运维%'
        GROUP BY
        userByProject.id
        ORDER BY
        projectId
    </select>

    <select id="queryScoreByTime" resultType="com.tfjybj.dtc.commons.model.ScoreByTimeModel">
        SELECT
        userByProject.id AS id,
        userByProject.userName AS userName,
        userByProject.projectId AS projectId,
        userByProject.projectName AS projectName,
        sum( tzr.result ) AS score
        FROM
        tiz_zentao_result tzr,
        (
        SELECT DISTINCT
        tu.id AS id,
        tu.user_name AS userName,
        zp.id AS projectId,
        zp.`name` AS projectName,
        team.role AS role
        FROM
        zt_project zp,
        (
        SELECT
        zt.account AS account,
        zt.root AS root,
        zt.role AS role
        FROM
        zt_team zt
        JOIN zt_project zp ON zp.id = zt.root
        ) AS team
        JOIN tiz_zentao_integral_user tziu ON tziu.account = team.account
        JOIN tik_user tu ON tziu.user_id = tu.id
        WHERE
        zp.id = team.root
        AND ( zp.id = 35 OR zp.id = 37 OR zp.id = 38 OR zp.id = 47 )
        ) AS userByProject
        WHERE
        userByProject.id = tzr.user_id
        AND DATE_SUB( CURDATE(), INTERVAL #{days} DAY )&lt;= date( tzr.create_time )
        AND userByProject.role NOT LIKE '%测试%'
        AND userByProject.role NOT LIKE '%运维%'
        GROUP BY
        userByProject.id
        ORDER BY
        projectId
    </select>
</mapper>


