<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tjfybj.dtc.zentao.mapper.TaskMapper">
    <select id="task" resultType="java.lang.Integer">
        SELECT tu.id,tu.user_name,tzr.description,tzr.update_time
        FROM tik_user tu, tiz_zentao_result tzr
        WHERE tu.id = tzr.user_id
        AND DATE_SUB(CURDATE(), INTERVAL 1 DAY) = date(tzr.update_time)
    </select>

</mapper>